ion-app, ion-content, .nav-decor { background-color: transparent !important;; }

.controls{
  margin-top:159%;
  margin-left: 35%;
}
.block{
  padding:.25rem 0;
  margin:.25rem 0;
  border:1px solid #111;
  border-radius: 3px;
}
button{
  background: #E4C56A!important;
  color:#fff!important;
  border-radius: 3px;
  border:1px solid #ccc;
  margin:.25rem;
  text-transform: inherit!important;
}




