
<div class="row">
    <div class="infoContent" style="padding: 12px 32px;
    background-color: #ffffff;
    width: 100%;
    margin-top: 65px;
    opacity: 0.6;">
        <div text-center>
            Bildirmek istediğiniz sorunun fotoğrafını çekiniz.
        </div>
    </div>
</div>

<ion-content id="ion-content" padding>


    <div *ngIf="!process" class="camera-button" style="margin-top: 117%;height: 30px;margin-left: 34%;">
        <button style="opacity: 0.6;width: 6.4em;height: 6.6rem;" ion-button (click)="takePhoto()" >
            <ion-icon style="font-size: 2.2em;" ios="ios-camera" md="md-camera"></ion-icon>
        </button>
    </div>
</ion-content>








