<ion-header>

  <ion-navbar>
    <ion-title>Kurum Seçin</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>



  <div class="list card new-feeds wall-post">
    <div class="row" *ngFor="let data of kurumList">

      <div class="col">
        <div  class="item item-image">
          <button style="height: auto!important;" ion-button clear (click)="selectInstitutions(data.kurum_uid)">
            <img style="height: auto;width: 100%;" [src]="data.local_icon" alt=" " />
          </button>
        </div>
      </div>

    </div>
  </div>

</ion-content>
