

<ion-content class="scroll-content" no-bounce [ngStyle]="{ 'background-image': 'url(' + image + ')'}" >
    <div class="preview-button" style="margin-bottom: 150%;
    margin-left: 7%;">
        <button style="opacity: 0.6;width: 5.4em;height: 5.6rem;" ion-button (click)="preview()" >
            Geri
        </button>
    </div>

    <form style="margin-left: 7%;
    margin-top: 15%;
    position: absolute;
    z-index: 2;    opacity: 0.8;    width: 86%;">
        <ion-item>
            <ion-label floating>Başvuru Metni</ion-label>
            <ion-textarea [(ngModel)]="data.message"  name="message" rows="3"></ion-textarea>
        </ion-item>
        <button ion-button type="submit" (click)="postForm()"  block>Gönder</button>
    </form>

</ion-content>
