.image--background {
  background-size: cover;
}
img{
  height: 100%;
  width: 100%;
}
.scroll-content
{
  background-size: cover;
  background-position: center;
  margin: auto;
}

.scroll-content
{
  display: flex!important;
  align-content: center!important;
  align-items: center!important;
}


button {
  color:#333;
  background: #E4C56A !important;
}

.buttonCss {

  button.alert-button:nth-child(1){
    color:#333;
    background: #E4C56A !important;
  }

  button.alert-button:nth-child(2){
    color:#E4C56A;
    background: #333 !important;
  }
}