
<ion-header>

  <ion-navbar>
    <ion-title>Kişisel Bilgileriniz</ion-title>
    <ion-buttons end>
      <button ion-button (click)="closeModal()">Geri</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content class="scroll-content" padding style="background: #dddddd!important;">

  <ion-grid>
    <ion-row>
      <ion-col>
        <form  [formGroup]="incidentForm" (ngSubmit)="submitForm()">

          <ion-item>
            <ion-label>Ad</ion-label>
            <ion-input type="text" value="" [formControl]="incidentForm.controls['name']" [ngClass]="{'error-border':!incidentForm.controls['name'].valid}"></ion-input>
          </ion-item>
          <div class="error-box" *ngIf="incidentForm.controls['name'].hasError('required') && incidentForm.controls['name'].touched">* Ad alan gereklidir.</div>
          <div class="error-box" *ngIf="incidentForm.controls['name'].hasError('maxlength') && incidentForm.controls['name'].touched">* Ad alanı maksimum 50 karakter olabillr!</div>

          <ion-item>
            <ion-label>Soyad</ion-label>
            <ion-input type="text" value="" [formControl]="incidentForm.controls['surname']" [ngClass]="{'error-border':!incidentForm.controls['surname'].valid}"></ion-input>
          </ion-item>
          <div class="error-box" *ngIf="incidentForm.controls['surname'].hasError('required') && incidentForm.controls['surname'].touched">* Soyad alanı gereklidir.</div>
          <div class="error-box" *ngIf="incidentForm.controls['surname'].hasError('maxlength') && incidentForm.controls['surname'].touched">* Soyad alanı maksimum 50 karakter olabilir!</div>

          <ion-item>
            <ion-label>Tc Kimlik No</ion-label>
            <ion-input type="tel" value="" [formControl]="incidentForm.controls['identificationKey']" [ngClass]="{'error-border':!incidentForm.controls['identificationKey'].valid}"></ion-input>
          </ion-item>
          <div class="error-box" *ngIf="incidentForm.controls['identificationKey'].hasError('required') && incidentForm.controls['identificationKey'].touched">* Tc Kimlik No alanı gereklidir.</div>
          <div class="error-box" *ngIf="incidentForm.controls['identificationKey'].hasError('minlength') && incidentForm.controls['identificationKey'].touched">* Tc Kimlik No 11 haneli olmalıdır!</div>
          <div class="error-box" *ngIf="incidentForm.controls['identificationKey'].hasError('maxlength') && incidentForm.controls['identificationKey'].touched">* Tc Kimlik No 11 haneli olmalıdır!</div>

          <ion-item>
            <ion-label>Cep Telefonu</ion-label>
            <ion-input type="tel" value="" [formControl]="incidentForm.controls['numberPhone']" [ngClass]="{'error-border':!incidentForm.controls['numberPhone'].valid}"></ion-input>
          </ion-item>
          <div class="error-box" *ngIf="incidentForm.controls['numberPhone'].hasError('required') && incidentForm.controls['numberPhone'].touched">* Cep telefonu alanı gereklidir.</div>
          <div class="error-box" *ngIf="incidentForm.controls['numberPhone'].hasError('minlength') && incidentForm.controls['numberPhone'].touched">* Cep telefonu 10 haneli olmalıdır!</div>
          <div class="error-box" *ngIf="incidentForm.controls['numberPhone'].hasError('maxlength') && incidentForm.controls['numberPhone'].touched">* Cep telefonu 10 haneli olmalıdır!</div>


          <button type="submit" ion-button full [disabled]="!incidentForm.valid">Başvuru Oluştur</button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
